@import '../../utils/variable.scss';

// for navbar
@mixin laptop {
    @media (min-width: 1115px) and (max-width: 1254px) {
        @content;
    }
}

// for navbar
@mixin mobile {
    @media (max-width: 1114px) {
        @content;
    }
}

// for content home
@mixin tablet {
    @media (min-width: 1115px) and (max-width: 1254px) {
        @content;
    }
}

@mixin minDesktop {
    @media (min-width: 1681px) {
        @content;
    }
}

@mixin mobileContent {
    @media (max-width: 767px) {
        @content;
    }
}

// for mobile card 3 baris
@mixin mobileCardThree {
    @media (max-width: 701px) {
        @content;
    }
}

@mixin tabletCardThree {
    @media (min-width: 701px) and (max-width: 1023px) {
        @content;
    }
}

// for img media
@mixin mobileImgMedia {
    @media (max-width: 421px) {
        @content;
    }
}

.wrapp-home {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/pattern.jpg');

    .banner-video {
        display: flex;
        height: 100vh;
        position: relative;

        @include mobile() {
            display: none;
        }

        .video {
            display: flex;
            width: 100%;
        }

        .txt-move {
            position: absolute;
            margin: 0 10%;
            bottom: 15px;
            color: #fff;
            font-size: 14px;
            z-index: 11;

            @include laptop() {
                margin: 0 5%;
            }

            @include minDesktop() {
                margin: 0 15%;
            }
        }

        .inactive-hover-yt {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    .wrapp-content-home {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 40px 10%;

        @include mobileContent(){
            padding: 40px 5%;
        }

        @include tablet() {
            padding: 40px 5%;
        }

        @include minDesktop() {
            padding: 40px 15%;
        }

        .container-blog-home {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            width: auto;
            background-color: $color3;
            border-radius: 10px;
            padding: 40px 0px;

            // selayang pandang
            .selayang-pandang-home {
                display: flex;
                padding: 0 30px;

                @include mobile(){
                    flex-direction: column;
                }

                .img-selayang-pandang {
                    width: 40%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 3px;

                    @include mobile(){
                        width: 100%;
                    }
                }

                .paragraph-selayang-pandang {
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;

                    @include mobile(){
                        margin-left: 0;
                    }

                    .title-selayang-pandang {
                        color: $color1;
                        font-weight: bold;
                        font-size: 20px;
                        text-align: start;
                        margin-bottom: 20px;
                        margin-top: 10px;

                        @include mobile(){
                            margin-top: 20px;
                        }
                    }

                    .deskripsi-selayang-pandang {
                        color: $color2;
                        font-size: $font2;
                        text-align: start;
                        line-height: $lineHeight;
                        margin-bottom: 20px;
                    }
                }
            }

            // jajaran pimpinan
            .jajaran-pimpinan {
                padding: 0 30px;

                .struktur-pimpinan {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;

                    .pimpinan-rs{
                        width: calc(95%/3);

                        @include mobile(){
                            width: 100%;
                            margin-top: 20px;
                        }
                    }

                    .tiga-pimpinan-lainnya {
                        margin-top: 30px;

                        @include mobile(){
                            margin-top: 0;
                        }
                    }
                }
            }

            // layanan unggulan
            .layanan-unggulan {
                padding: 0 30px;

                .card-layanan-unggulan-home{
                    width: calc(95%/3);

                    @include mobileCardThree(){
                        width: 100%;
                    }

                    @include tabletCardThree(){
                        width: calc(96%/2);
                    }
                }
            }

            // berita
            .berita-home {
                padding: 0 30px;

                .card-berita-home{
                    width: calc(95%/3);

                    @include mobileCardThree(){
                        width: 100%;
                    }

                    @include tabletCardThree(){
                        width: calc(96%/2);
                    }
                }
            }

            // testimoni
            .testimoni {
                padding: 0 0 0 30px;

                .deskripsi{
                    padding-right: 30px;
                }
            }

            // col group
            .col-group {
                margin-top: 60px;

                .title {
                    text-align: start;
                    font-size: 24px;
                    color: $color1;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .deskripsi {
                    text-align: start;
                    color: $color2;
                    font-size: $font2;
                }

                .col-card {
                    display: flex;
                    margin-top: 40px;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .container-btn {
                    display: flex;
                    justify-content: center;
                    margin-top: 5px;
                }
            }

            // media
            .media {
                display: flex;
                margin: 40px 30px 0 30px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                @include mobile(){
                    flex-direction: column;
                }

                .card-media-home{
                    width: calc(100%/3);

                    @include mobile(){
                        width: 100%;
                    }

                    .container-img-card{
                        @include mobileImgMedia(){
                            height: 220px;
                        }
                    }
                }
            }
        }
    }
}