@import '../../utils/variable.scss';

// for card in page search
@mixin mobileCardSearch {
    @media (max-width: 467px) {
        @content;
    }
}

@mixin tabletCardSearch {
    @media (min-width: 467px) and (max-width: 676px) {
        @content;
    }
}

.wrapp-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: 0.2s ease-in-out;

    // img
    .container-img-card{
        display: flex;
        position: relative;
        overflow: hidden;

        .img-card{
            display: flex;
            width: 100%;
            object-fit: cover;
            object-position: center;
            padding-left: 0.5px;
            transition: 0.3s ease-in-out;
        }

        .shadow-hover-img{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color1;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }

    // deskripsi
    .container-deskripsi-card{
        display: flex;
        flex-direction: column;
        line-height: $lineHeight;

        .circle-icon{
            display: none;
            border-radius: 500px;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: 0.2s ease-in-out;
            
            .icon-in-circle{
                font-size: 20px;
                font-style: normal;
            }
        }

        .title-card{
            transition: 0.2s ease-in-out;
        }

        .paragraph-one-card{
            transition: 0.5s ease-in-out;
        }

        // date card
        .date-card{
            display: none;
            flex-wrap: wrap;
            align-items: center;

            p{
                font-size: $fontIcon;
                color: #777;
                margin-right: 10px;
                margin-top: 5px;
                .icon-date{
                    font-size: 11px;
                    margin-right: 3px;
                }
            }
        }

        .date-card-search{
            display: none;
        }
    }
}

// wrapp card only in page search
.wrapp-card-search{
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;

    @include mobileCardSearch(){
        flex-direction: column;
    }

    @include tabletCardSearch(){
        flex-direction: column;
    }

    // img
    .container-img-card{
        width: 130px;

        @include mobileCardSearch(){
            width: 100%;
            margin-bottom: 10px;
        }

        @include tabletCardSearch(){
            width: 300px;
            margin-bottom: 10px;
        }

        .img-card{
            height: 130px;

            @include mobileCardSearch(){
                height: 180px;
            }

            @include tabletCardSearch(){
                height: 150px;
            }
        }
    }

    // deskripsi
    .container-deskripsi-card{
        margin: 0 15px;
        width: 80%;

        @include mobileCardSearch(){
            margin: 0px;
            width: 100%;
        }

        @include tabletCardSearch(){
            margin: 0px;
            width: 100%;
        }

        // date card search
        .date-card-search{
            display: none;
            align-items: center;
            margin-top: 0px;

            p{
                font-size: 11px;
                color: #777;
                margin-right: 10px;
                .icon-date{
                    font-size: 11px;
                    margin-right: 3px;
                }
            }
        }
    }
}