@import '../../utils/variable.scss';

// for mobile card testimoni
@mixin mobileCardTestimoni {
    @media (max-width: 901px) {
        @content;
    }
}

@mixin tabletCardTestimoni {
    @media (min-width: 901px) {
        @content;
    }
}

.wrapp-carousel {
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    .container-btn-testimoni{
        display: none;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px 20px 0;

        @include mobileCardTestimoni(){
            padding: 0;
        }

        .btn-testimoni-desktop{
            background-color: #fff;
            border-radius: 5px;
            height: 35px;
            width: 35px;
            cursor: pointer;
            border: none;
            outline: none;
            margin-left: 15px;
            color: $color1;
            transition: 0.3s ease-in-out;

            @include mobileCardTestimoni(){
                display: none;
            }

            &:hover{
                background-color: $color1;
                color: #fff;
            }

            i{
                font-size: 18px;
                margin-top: 2px;
            }
        }
    }

    .container-btn-testimoni-mobile{
        display: none;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px 20px 0;

        .btn-testimoni-mobile{
            background-color: #fff;
            border-radius: 5px;
            height: 35px;
            width: 35px;
            cursor: pointer;
            border: none;
            outline: none;
            margin-left: 15px;
            color: $color1;
            transition: 0.3s ease-in-out;

            @include tabletCardTestimoni(){
                display: none;
            }

            &:hover{
                background-color: $color1;
                color: #fff;
            }

            i{
                font-size: 18px;
                margin-top: 2px;
            }
        }
    }

    .inner-carousel {
        white-space: nowrap;
        transition: 0.6s ease;

        .item {
            display: inline-flex;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .testimoni-card-desktop{
            display: inline-block;
            width: 50%;

            @include mobileCardTestimoni(){
                display: none;
            }
        }

        .testimoni-card-mobile{
            display: inline-block;
            width: 100%;

            @include tabletCardTestimoni(){
                display: none;
            }
        }
    }

    .btn-carousel {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: #fff;
        padding: 15px;
        align-items: center;
        border-top-left-radius: 10px;

        i {
            cursor: pointer;
            color: $color1;
        }

        .indikator {
            outline: none;
            background: none;
            border: 2px solid $color1;
            height: 12px;
            width: 12px;
            border-radius: 500px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}