@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: 572px) {
        @content;
    }
}

@mixin mobileTwo {
    @media (min-width: 572px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 767px) and (max-width: 1230px) {
        @content;
    }
}

@mixin minDesktop {
    @media (min-width: 1681px) {
        @content;
    }
}

// margin pie chart
@mixin mobilePie {
    @media (max-width: 467px) {
        @content;
    }
}

@mixin mobilePieTwo {
    @media (min-width: 467px) and (max-width: 572px) {
        @content;
    }
}

@mixin tabletPie {
    @media (min-width: 967px) and (max-width: 1230px) {
        @content;
    }
}

@mixin semiDesktop{
    @media (min-width: 1115px) and (max-width: 1254px) {
        @content;
    }
}

.wrapp-footer{
    display: flex;
    flex-direction: column;
    background-color: $color5;
    padding: 0 10% 40px 10%;

    @include mobile(){
        padding: 0 5% 40px 5%;
    }

    @include mobileTwo(){
        padding: 0 5% 40px 5%;
    }

    @include semiDesktop(){
        padding: 0 5% 40px 5%;
    }

    @include minDesktop(){
        padding: 0 15% 40px 15%;
    }

    // list menu
    .container-list-menu-footer{
        display: flex;

        @include mobile(){
            flex-direction: column;
        }

        @include mobileTwo(){
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include tablet(){
            flex-wrap: wrap;
            justify-content: space-between;
        }

        // tentang
        .list-tentang{
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover{
                color: #aaa;
            }
        }

        // layanan
        .list-layanan{
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover{
                color: #aaa;
            }
        }

        // polling
        .polling{
            .input-polling{
                margin-top: 15px;
               .list-input-polling{
                   display: flex;
                   flex-direction: column;
                   list-style: none;

                   .choose-polling{
                       display: flex;
                       cursor: pointer;
                       align-items: center;
                       margin-bottom: 15px;

                       .circle-choose{
                           display: flex;
                           height: 4.5px;
                           width: 4.5px;
                           border-radius: 500px;
                           background-color: #fff;
                           border: 4px solid #fff;
                           transition: 0.3s ease-in-out;
                       }

                       .name-choose{
                           font-size: 14px;
                           margin: -2px 0 0 8px;
                       }
                   }
               }
            }

            .container-result-polling{
                @include mobilePie(){
                    margin: 0 20px 0px 0;
                }

                @include mobilePieTwo(){
                    margin: 0 170px 0px 0;
                }

                @include tabletPie(){
                    margin: 0 80px 0px 0;
                }
            }
        }

        // list group
        .list-footer-menu{
            flex-direction: column;
            text-align: start;
            color: #fff;
            width: calc(100%/4);
            padding: 40px 20px 0 20px;

            @include mobile(){
                width: auto;
            }

            @include mobileTwo(){
                width: calc(75%/2);
            }

            @include tablet(){
                width: calc(75%/2);
            }

            .title{
                font-size: 20px;
                font-weight: bold;
            }

            .border-title{
                height: 4px;
                width: 50px;
                border-radius: 5px;
                background-color: $color4;
                margin: 20px 0 30px 0;
            }

            .list{
                font-size: 13.5px;
                line-height: 1.7;
            }

            i{
                margin: 15px 8px 0 0;
                cursor: pointer;
            }

            // polling
            .container-form-polling{
                flex-direction: column;
            }
        }
    }

    // copy right
    .container-copy-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;

        .txt-copy-right{
            text-align: center;
            font-size: 11px;
            color: #bbb;
            margin-top: 10px;
        }
    }
}