@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 1115px) and (max-width: 1254px) {
        @content;
    }
}

@mixin minDesktop {
    @media (min-width: 1681px) {
        @content;
    }
}

// for header and white content at size tablet
@mixin tabletHeaderAndContent {
    @media (min-width: 767px) and (max-width: 1115px) {
        @content;
    }
}

// for card rekomendasi
@mixin mobileCard {
    @media (max-width: 567px) {
        @content;
    }
}

// untuk image mobile di samakan dengan nav mobile
@mixin mobileImage {
    @media (max-width: 401px) {
        @content;
    }
}

@mixin tabletToDesktopImage(){
    @media (min-width: 401px) and (max-width: 1114px) {
        @content;
    }
}

.wrapp-template {
    display: flex;
    flex-direction: column;
    padding-top: 157px;

    @include mobileImage(){
        padding-top: 75px;
    }

    @include tabletToDesktopImage(){
        padding-top: 92px;
    }

    // banner page
    .container-banner-page {
        display: flex;
        overflow: hidden;

        .banner-page {
            display: flex;
            height: 80vh;
            width: 100%;
            object-fit: cover;
            object-position: center;

            @include mobile(){
                height: 40vh;
            }

            @include tabletHeaderAndContent(){
                height: 60vh;
            }
        }

        .shadow-banner {
            position: absolute;
            height: 80vh;
            width: 100%;
            background-color: #000;
            opacity: 0.5;

            @include mobile(){
                height: 40vh;
            }

            @include tabletHeaderAndContent(){
                height: 60vh;
            }
        }
    }

    // blog content
    .container-blog-content {
        display: flex;
        flex-direction: column;
        background-image: url('../../images/pattern.jpg');
        z-index: 11;

        .header-page {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            margin-top: -200px;

            @include mobile(){
                margin-top: -50px;
            }

            @include tabletHeaderAndContent(){
                margin-top: -100px;
            }

            // header green
            .header-green {
                display: flex;
                flex-direction: column;
                width: 55%;
                padding: 35px 0px 150px 16%;
                background-color: $color1;
                text-align: start;
                border-top-right-radius: 10px;

                @include mobile() {
                    width: auto;
                    padding: 35px 0 150px 5%;
                    border-top-right-radius: 0px;
                }

                @include tabletHeaderAndContent(){
                    width: auto;
                    border-top-right-radius: 0px;
                }

                @include tablet() {
                    padding: 35px 0 150px 11%;
                }

                @include minDesktop() {
                    padding: 35px 0px 150px 20%;
                }

                .list-link-page {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .link-page {
                        display: flex;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        color: #fff;
                        font-size: 12px;
                        margin-right: 10px;
                        transition: 0.3s ease-in-out;
                        margin-top: 5px;

                        &:hover {
                            color: #ddd;
                        }

                        .garis-miring {
                            margin-left: 10px;
                        }
                    }
                }

                .title-page {
                    text-align: start;
                    color: #fff;
                    font-weight: bold;
                    font-size: 30px;
                    margin-top: 15px;
                    padding: 0 40px 0 0%;
                }

                // date card
                .date-card {
                    display: none;
                    align-items: center;
                    margin-top: 15px;

                    p {
                        font-size: $fontIcon;
                        color: #fff;
                        margin-right: 10px;

                        .icon-date {
                            font-size: 11px;
                            margin-right: 3px;
                        }
                    }
                }
            }

            // content white
            .container-content-white {
                margin-top: -110px;
                padding: 0 10%;

                @include mobile() {
                    padding: 0%;
                }

                @include tabletHeaderAndContent(){
                    padding: 0% 0 0 10%;
                }

                @include tablet() {
                    padding: 0 5%;
                }

                @include minDesktop() {
                    padding: 0 15%;
                }

                .content-blog {
                    display: flex;
                    flex-direction: column;
                    padding: 8%;
                    color: #333;
                    font-size: $font2;
                    line-height: $lineHeight;
                    background-color: #fff;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    text-align: justify;
                    letter-spacing: 0.1px;

                    @include mobile() {
                        padding: 5% 5% 8% 5%;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }

                    @include tabletHeaderAndContent(){
                        border-top-right-radius: 0px;
                    }

                    .title-rekomendasi {
                        font-size: 24px;
                        margin-bottom: 0;
                    }

                    .wrapp-rekomendasi-berita {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @include mobileCard() {
                            flex-direction: column;
                        }

                        .card-rekomendasi-in-page{
                            width: calc(96%/2);
                            margin-top: 30px;
                            
                            @include mobileCard() {
                                width: 100%;
                            }
                        }
                    }

                    // img content
                    img {
                        object-fit: cover;
                        object-position: center;
                    }

                    // title black (no bold)
                    .title-black {
                        font-weight: 500;
                    }

                    // list paragraph
                    .list {
                        padding: 10px 0 10px 20px;

                        li {
                            align-items: center;

                            p {
                                margin: -27px 0 0 15px;
                            }
                        }
                    }

                    center {
                        padding: 0 60px;

                        @include mobile() {
                            padding: 0 20px;
                        }
                    }

                    .title-big-bold {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}